:root {
    --primary-background-color: #1F2937;
    --primary-header-link-color: #E5E7EB;
    --primary-header-link-font: 18px;
    --primary-header-logo-color: #F9FAF8;
    --primary-header-logo-font: 24px;
    --primary-button-color: #3882F6;

}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

