body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.banner {
  background-color: #e5e7eb;
  width: 100%;
  display: flex;
  justify-content: center;
}
.content {
  color: #1f2937;
}
/* Mobile */
@media all and (max-width: 450px) {
  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
}
/* Tablet */
@media all and (min-width: 451px) and (max-width: 1024px) {
  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
  }
}
/* Web */
@media all and (min-width: 1025px) {
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    padding: 50px;
  }
}
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-location {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
/* Mobile */
@media all and (max-width: 500px) {
  .contact-info,
  .contact-location {
    max-width: 600px;
    margin: 0 auto;
  }
}
/* Tablet */
@media all and (min-width: 501px) and (max-width: 1024px) {
  .contact-info,
  .contact-location {
    max-width: 700px;
    margin: 0 auto;
  }
}
/* Web */
@media all and (min-width: 1025px) {
  .contact-info,
  .contact-location {
    width: 100%;
  }
}
/* Mobile */
@media all and (max-width: 450px) {
  h3 {
    font-size: 20px;
  }
}
/* Tablet */
@media all and (min-width: 451px) and (max-width: 1024px) {
  h3 {
    font-size: 25px;
  }
}
/* Web */
@media all and (min-width: 1025px) {
  h3 {
    font-size: 30px;
  }
}
.contact-info p {
  font-size: medium;
  font-style: italic;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-form input {
  border: 1px solid rgb(82, 80, 80);
  border-radius: 5px;
  padding: 10px;
}
.contact-form textarea {
  border: 1px solid rgb(82, 80, 80);
  border-radius: 5px;
  padding: 10px;
  height: 150px;
}
.contact-form button {
  background-color: #3882f6;
  border-radius: 5px;
  color: #e5e7eb;
  padding: 10px;
}
.contact-form button:hover {
  background-color: #1f2937;
}

/* Mobile */
@media all and (max-width: 500px) {
  .contact-location img {
    /* max-width: 500px;
    height: 150px;
    margin: 0 auto; */
  }
}
/* Tablet */
@media all and (min-width: 501px) and (max-width: 1024px) {
  .contact-location img {
    max-width: 500px;
    height: 340px;
    margin: 0 auto;
  }
}
/* Web */
@media all and (min-width: 1025px) {
  .contact-location img {
    width: auto;
    height: auto;
  }
}
.contact-adress {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}
.left-side,
.right-side {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.call-center {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Mobile */
@media all and (max-width: 500px) {
  .call-center-phone {
    font-size: 20px;
  }
}
/* Tablet */
@media all and (min-width: 501px) and (max-width: 1024px) {
  .call-center-phone {
    font-size: 25px;
  }
}
/* Web */
@media all and (min-width: 1025px) {
  .call-center-phone {
    font-size: 36px;
  }
}

/* Mobile */
@media all and (max-width: 500px) {
  label,
  .contact-info p {
    font-size: 14px;
  }
}
/* Tablet */
@media all and (min-width: 501px) and (max-width: 1024px) {
  label,
  .contact-info p {
    font-size: 16px;
  }
}
/* Web */
@media all and (min-width: 1025px) {
  label,
  .contact-info p {
    font-size: 18px;
  }
}
