* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  --secondary-text: #e5e7eb;
  margin: 0;
}

header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #e5e7eb;
  padding: 10px 50px;
}

header a:visited {
  color: #e5e7eb;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-links {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

article {
  padding: 0 50px;
}

.section {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
}

.first-section {
  background-color: #1f2937;
  color: var(--secondary-text);
}

.second-section {
  justify-content: center;
}

.third-section {
  background-color: #e5e7eb;
}

.title {
  color: #e5e7eb;
  font-size: 48px;
}

.subtitle {
  color: #1f2937;
  font-size: 36px;
}

.btn {
  border-width: 0;
  border-radius: 5px;
  padding: 5px 10px;
}

.btn-blue {
  background-color: #3882f6;
  color: var(--secondary-text);
}

.btn-white {
  background-color: #3882f6;
  border: 3px solid #f9faf8;
  color: #f9faf8;
}

.img-contanier {
  width: 500px;
  height: 150px;
}

.illustration-container {
  display: flex;
  gap: 20px;
}

.illustration {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  border: solid #3882f6;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.quote-author {
  display: flex;
  font-size: 18px;
  color: #1f2937;
  justify-content: flex-end;
}

.fourth-section {
  justify-content: center;
}

.action-container {
  background-color: #3882f6;
  color: #f9faf8;
  display: flex;
  gap: 15px;
  padding: 20px 200px;
  border-radius: 5px;
}

footer {
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 15px;
  display: flex;
  justify-content: center;
}
