* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  --secondary-text: #e5e7eb;
  margin: 0;
}

.header-container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #e5e7eb;
  padding: 10px 50px;
}

.header-links1 {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

article {
  padding: 0 50px;
}

.section {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
}

.first-section {
  background-color: #1f2937;
  color: var(--secondary-text);
}

.first-section-container {
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.welcome {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.second-section {
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.third-section {
  background-color: #e5e7eb;
}

.title {
  color: #e5e7eb;
  font-size: 48px;
}

.subtitle {
  color: #1f2937;
  font-size: 36px;
  display: flex;
  justify-content: center;
}

.btn {
  width: fit-content;
  border-width: 0;
  border-radius: 5px;
  padding: 5px 10px;
}

.btn:hover {
  cursor: pointer;
}

.btn-blue {
  background-color: #3882f6;
  color: var(--secondary-text);
}

.btn-white {
  background-color: #3882f6;
  border: 3px solid #f9faf8;
  color: #f9faf8;
}

.img-contanier {
  width: 500px;
  height: 150px;
  padding-left: 20px;
}

.illustration-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.illustration-container a {
  text-decoration: none;
  color: black;
}

.illustration {
  width: 100px;
  height: 100px;
}

.illustartion-block img {
  width: 100px;
  height: 100px;
  border: solid #3882f6;
  border-radius: 5px;
}

.quote-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
}

.quote-author {
  display: flex;
  font-size: 18px;
  color: #1f2937;
  justify-content: flex-end;
}

.fourth-section {
  justify-content: center;
}

.action-container {
  background-color: #3882f6;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 5% 20%;
  border-radius: 5px;
}

.description {
  font-size: 18px;
}

.secondary-text {
  font-size: 14px;
  color: #e5e7eb;
}

footer {
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 15px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 780px) {
  .illustration-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .first-section-container {
    flex-direction: column;
  }

  .img-contanier {
    padding-left: 0;
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
  }

  #first-btn {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 670px) {
  .section {
    flex-direction: column;
  }

  .illustration-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}


@media screen and (max-width: 450px) {
  .illustration-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .subtitle {
    text-align: center;
  }

  .quote {
    font-size: 13px;
    margin-bottom: 4px;
  }

  .action-container {
    display: flex;
    gap: 10px;
    padding-inline: 0.7em;
    padding-block: 3em;
  }

  .welcome p {
    text-align: justify;
  }

  .section {
    padding-inline: 30px;
  }
}