* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  --secondary-text: #e5e7eb;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.header-container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #e5e7eb;
  padding: 10px 50px;
}

.header-links1 {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section {
  padding: 0 50px;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100vw;
}

.first-section {
  background-color: #1f2937;
  color: var(--secondary-text);
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
}

.welcome {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 1.2;
  max-width: 750px;
}

.welcome p {
  max-width: 550px;
}

.title {
  color: #e5e7eb;
  font-size: 48px;
}

.btn {
  width: fit-content;
  border-width: 0;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
}

.btn:hover {
  cursor: pointer;
}

.btn-blue {
  background-color: #3882f6;
  color: var(--secondary-text);
}

.btn-white {
  background-color: #3882f6;
  border: 3px solid #f9faf8;
  color: #f9faf8;
}

.img-contanier {
  display: flex;
  height: 200px;
}

.img-contanier img {
  border-radius: 5px;
}

.second-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.subtitle {
  color: #1f2937;
  font-size: 36px;
}

.illustration-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.illustration-container a {
  text-decoration: none;
  color: black;
}

.illustration {
  width: 100px;
  height: 100px;
}

.illustartion-block img {
  width: 150px;
  height: 150px;
  border: solid #3882f6;
  border-radius: 5px;
}

.illustration-caption {
  font-size: 22px;
}

.third-section {
  background-color: #e5e7eb;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.quote-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

.quote {
  font-size: 32px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.quote-author {
  font-size: 18px;
  font-style: normal;
  color: #1f2937;
  margin-left: auto;
}

.fourth-section {
  justify-content: center;
}

.action-container {
  background-color: #3882f6;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 2% 9%;
  border-radius: 5px;
}

.action {
  font-size: 20px;
}

.secondary-text {
  font-size: 14px;
  color: #e5e7eb;
}

footer {
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 15px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 780px) {
  .img-contanier {
    display: none;
  }
}

@media screen and (max-width: 670px) {
  .illustration-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .illustration-container figure {
    flex-basis: 33%;
  }

  .quote {
    font-size: 20px;
  }

  .quote-author {
    font-size: 13px;
  }

}

@media screen and (max-width: 450px) {
  .subtitle {
    text-align: center;
  }

  .action-container {
    padding-inline: 0.7em;
  }

  .welcome p {
    text-align: justify;
  }

  .section {
    padding-inline: 30px;
  }
}