.banner {
    background-color: var(--primary-background-color);
    width: 100% ;
    height: 150px;
    display: flex;
    align-items: flex-end;
}
body{
    min-height: 100vh;
    min-width: 100vw;
}
h1 {
    color: #e5e7eb;
}
/* Mobile */
@media all and (max-width: 450px) {
    h1 {
      font-size: 24px;
      padding: 15px 30px;
    }
    .provided-services .section-line{
        display: flex;
        flex-direction: column;
    }
    .provided-services img{
        max-height: 200px !important;
        max-width: 400px !important;
        border-radius: 10px;
        background-size: cover;
        padding-bottom: 10px;
        overflow: auto;
    }
    .service-container{
        max-width: 400px !important;
    }
  }
  /* Tablet */
  @media all and (min-width: 451px) and (max-width: 1024px) {
    h1 {
      font-size: 34px;
      padding: 20px 40px;
    }
    .provided-services .section-line{
        display: flex;
        flex-direction: column;
        padding: 20px 40px;
    }
    .provided-services{
        display: flex;
        flex-direction: row;
    }
    .service-container{
        max-width: 450px !important;
    }
    .provided-services img{
        max-width: 450px !important;
        overflow: auto;
    }
  }
  /* Web */
  @media all and (min-width: 1025px) {
    h1 {
      font-size: 48px;
      padding: 30px 50px;
    }
  }
main{
    width: 100%;
}
main .provided-services{
    display: flex;
    justify-content: center;
}
.content{
    padding: 30px 50px;
}
.content h3{
    font-size: 36px;
}
.content p{
    font-size: 18px;
}
.provided-services{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
.section-line{
    display: flex;
    flex-direction: row;
}
.provided-services img{
    max-height: 250px;
    max-width: 450px;
    border-radius: 10px;
    background-size: cover;
    padding-bottom: 10px;
}
p{
    max-width: 450px;
    padding-bottom: 10px;
}
.service-container{
    padding: 20px;
    max-width: 450px;
}
.service-container:hover{
    border: 2px solid var(--primary-button-color);
    border-radius: 10px;
}
.service-name{
    font-size: 36px;
}
.description{
    font-size: 18px;
}
.btn {
    width: fit-content;
    border-width: 0;
    border-radius: 5px;
    padding: 5px 10px;
    color: #e5e7eb;
}

.btn:hover {
    cursor: pointer;
}

.btn-blue {
    background-color: #3882f6;
    color: #e5e7eb;
}
.btn-align{
    display: flex;
    flex-direction: row-reverse;
}